<div class="main-application clearfix">
  <div class="col col-3 left user-prof pr2">
    <% unless current_user.image_url.nil? %>
    <%= image_tag(current_user.image_url, height: 232, width: 232, class: "user-pic") %>
    <% end %>
    <div class="h3 name"><%= current_user.name %></div>
    <div class="nickname"><%= current_user.nickname %></div>
    <p class="bio"><%= @user.bio %></p>
    <div class="user-details pt2">
      <div class="flex items-center">
        <%= octicon "location", height: 16, class: "m1" %>
        <%= @user.location %>
      </div>
      <div class="flex items-center">
        <%= octicon "mail", height: 16, class: "m1" %>
        <%= mail_to(current_user.email) %>
      </div>
    </div>
  </div>

  <div class="col col-9 pl1">
    <div class="">
      <nav class="profile-tabs">
        <p class="inline-block">Overview</p>
        <p class="inline-block">Repositories <strong><%= @user.repo_count %></strong></p>
        <p class="inline-block">Stars <strong><%= @user.stars.count %></strong></p>
        <p class="inline-block">Followers <strong><%= @user.follower_count %></strong></p>
        <p class="inline-block">Following <strong><%= @user.following_count %></strong></p>
      </nav>
    </div>

    <div class="flex flex-wrap justify-center center border-top">
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %>test
      </div>
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %> test
      </div>
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %> test
      </div>
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %> test
      </div>
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %> test
      </div>
      <div class="repo border rounded">
          <%= octicon "octicon-grabber", height: 16 %> test
      </div>
    </div>
  </div>
  </div>
</div>
